[Unit]
Description=Instinctual Partytime
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/instinctual/partytime/partytime.sh --add
User=partytime

[Install]
WantedBy=multi-user.target